<section class="container-fluid p-3 p-lg-5">
  <app-breadcrumb
    title="{{ 'how_it_works.title' | translate }}"
    [bgColor]="headerColor()"
    [breadcrumbColor]="breadcrumbColor()"
    [page]="pageName()"
  />
</section>

<section class="howmauris-section pt-80 pb-80">
  <div class="container">
    <div class="section-header mb-lg-0 mb-3">
      <h2>Turn Every Scan into an Experience</h2>
      <p>
       At Share a Scan, we make custom QR merchandise simple and fun. Whether you’re a creator, brand, or small business, our process ensures your personalized hoodies, mugs, or phone cases are both stylish and smart. Follow these easy steps and bring your scannable story to life.
      </p>
      <img src="images/mauris-image.png" alt="" />
    </div>
  </div>
</section>

<section class="about-section pt-40 pb-80">
  <div class="container">
    <div class="row align-items-center md-flex-column-reverse">
      <div class="col-md-6">
        <div class="about-image">
          <img src="images/how-it-work1.png" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-content ps-lg-5">
          <h2>Discover the Code</h2>
          <p>
          Start by choosing your favorite product from our collection — hoodies, drinkware, caps, and more. Upload your unique QR code or generate one directly on our platform. This code can link to your website, digital profile, or any online space that tells your story.
          </p>
        </div>
      </div>
    </div>
    <div class="row vector-stroke1">
      <div class="offset-lg-1 col-lg-10">
        <img class="ms-lg-5" src="images/vector-stroke1.png" alt="" />
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="about-content pe-lg-5">
          <h2>Scan the Qr Code</h2>
          <p>
            Each product is printed with a high-quality, durable QR design. Just scan it with any smartphone camera to instantly access the digital experience behind your merch — a social profile, a shop link, or even a playlist.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-image">
          <img src="images/how-it-work2.png" alt="" />
        </div>
      </div>
    </div>
    <div class="row vector-stroke1">
      <div class="offset-lg-1 col-lg-10">
        <img class="ms-lg-5" src="images/vector-stroke2.png" alt="" />
      </div>
    </div>
    <div class="row align-items-center md-flex-column-reverse">
      <div class="col-md-6">
        <div class="about-image">
          <img src="images/how-it-work3.png" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-content ps-lg-5">
          <h2>Open the content</h2>
          <p>
          Your QR takes people directly to your chosen content — quick, seamless, and interactive. From creators sharing their portfolios to brands connecting with customers, every scan becomes a new way to engage.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
