.about-section {
    position: relative;
    width: 100%;
}

.about-section::before {
    content: '';
    position: absolute;
    background: url(../../../../../public/images/rounds-hape.png) no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    top: 120px;
    left: 0;
    z-index: -1;
}

.about-section .about-content h2 {
    font-size: 48px;
    line-height: 54px;
    color: var(--black-color);
    padding-bottom: 15px;
    font-weight: 500;
}

.about-section .about-content p {
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 20px;
}

.about-section .about-content .btn {
    background: #000000;
    color: var(--white-color);
    padding: 0.75rem 2rem;
    border-radius: 40px;
}

.about-section .about-content .btn-arrow {
    padding: 0.75rem 1rem;
    margin-left: -15px;
}

.about-section .round-vector {
    position: absolute;
    top: 100px;
    left: 0;
    z-index: -1;
}

.about-image img {
      width: 100%;
    max-width: none;
    height: 560px;
    object-fit: cover;
    border-radius: 20px;
}
@media screen and (max-width: 1540px) {
    .about-section .about-content h2 {
        font-size: 40px;
        line-height: 48px;
    }
}

@media screen and (max-width: 1440px) {
    .about-section .about-content h2 {
        font-size: 32px;
        line-height: 42px;
    }
}

@media screen and (max-width: 991px) {
    .about-section .vector-stroke1 {
        display: none;
    }

    .about-section .container {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .about-section .about-image img {
        margin-bottom: 20px;
    }

    .about-section .about-content p {
        font-size: 16px;
        line-height: 24px;
    }

    .about-section .about-content h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .about-section .nth-row {
        flex-direction: column-reverse;
    }

    .about-section.pb-40,
    .about-section.pt-40 {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .about-section::before {
        top: -40px;
    }

    .about-section .about-content .btn {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 576px) {
    .about-section .about-content p {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .about-section .about-content h2 {
        font-size: 20px;
        line-height: 28px;
    }
}