<section class="product-highlight-section pb-80">
    <div class="container-fluid">
        <div class="highlight-inner">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <img src="./images/back-man-1.png" alt=""/>
                </div>

                <div class="col-lg-6">
                    <div class="highlight-content">
                        <h2>Make Every Design <br>a Statement.</h2>
                        <div class="limeline">
                            <div class="listview">
                                <div class="number">
                                    01
                                </div>
                                <div class="content">
                                    <h5>Customize Your Look</h5>
                                    <p>Upload your design or generate a QR code that links directly to your portfolio,  <br>social page,  or website. Personal expression made simple.</p>
                                </div>
                            </div>
                            <div class="listview">
                                <div class="number">
                                    02
                                </div>
                                <div class="content">
                                    <h5>Choose Your Style</h5>
                                    <p>Select from a variety of apparel options — hoodies, t-shirts, sweatshirts, and more. <br> All crafted with high-quality materials built for comfort and durability.</p>
                                </div>
                            </div>
                            <div class="listview">
                                <div class="number">
                                    03
                                </div>
                                <div class="content">
                                    <h5> Wear & Share</h5>
                                    <p>Once printed, your apparel becomes more than clothing — it’s a conversation   <br>starter. Scan, connect, and share your identity wherever you go.</p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <a href="#" class="btn">
                                    See More
                                </a>
                                <a href="#" class="btn btn-arrow">
                                    <img
                                            class="ms-0"
                                            src="./images/btn-arrow2.svg"
                                            alt=""
                                    ></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>