<section class="product-description pt-80 pb-80">
    <div class="container">
        <div class="navtabs-desc">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button
                            class="nav-link active"
                            id="description-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#description-tab-pane"
                            type="button"
                            role="tab"
                            aria-controls="description-tab-pane"
                            aria-selected="true"
                    >
                        {{ 'products.description' | translate }}
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button
                            class="nav-link"
                            id="shipping-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#shipping-tab-pane"
                            type="button"
                            role="tab"
                            aria-controls="shipping-tab-pane"
                            aria-selected="false"
                    >
                        {{ 'products.shipping_policy' | translate }}
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button
                            class="nav-link"
                            id="return-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#return-tab-pane"
                            type="button"
                            role="tab"
                            aria-controls="return-tab-pane"
                            aria-selected="false"
                    >
                        {{ 'products.return_policy' | translate }}
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div
                        class="tab-pane fade show active"
                        id="description-tab-pane"
                        role="tabpanel"
                        aria-labelledby="description-tab"
                        tabindex="0"
                >
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae tincidunt augue, at porta
                        sapien. Suspendisse ac finibus tellus, non dapibus nibh. Nulla aliquam, odio ultricies aliquet
                        pretium, lectus velit lacinia diam, dignissim egestas tortor nisi sagittis nunc. Sed vehicula
                        neque tortor, eget finibus arcu molestie nec. Sed rutrum nisi porta turpis vehicula, facilisis
                        finibus sapien tincidunt. Pellentesque sollicitudin purus quis dolor finibus congue.</p>
                    <p>Sed a velit lectus. In hac habitasse platea dictumst. Pellentesque volutpat enim nec nibh
                        vulputate lacinia. Donec tempor, sem id placerat faucibus, sapien urna convallis leo, nec
                        bibendum sapien diam mattis nulla. Mauris auctor velit id dui lobortis rhoncus. Praesent eget
                        mattis neque. Sed sollicitudin porttitor nisl. Nullam at nunc vulputate, sollicitudin ipsum sit
                        amet, venenatis sapien. Maecenas imperdiet sem ut ante varius, a aliquet mauris tristique. </p>
                    <p>Mauris at elementum elit, eget feugiat elit. Pellentesque vel porta velit, quis tristique justo.
                        In lobortis vehicula odio, non pretium felis. Donec tempus justo rhoncus augue malesuada, et
                        aliquet nisi aliquet. Proin vulputate odio tortor, et pulvinar erat interdum quis. Morbi finibus
                        fringilla quam vel finibus. Fusce vel blandit lectus, et tincidunt sapien. Sed facilisis erat in
                        orci volutpat sodales.</p>
                </div>
                <div
                        class="tab-pane fade"
                        id="shipping-tab-pane"
                        role="tabpanel"
                        aria-labelledby="shipping-tab"
                        tabindex="0"
                >
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae tincidunt augue, at porta
                        sapien. Suspendisse ac finibus tellus, non dapibus nibh. Nulla aliquam, odio ultricies aliquet
                        pretium, lectus velit lacinia diam, dignissim egestas tortor nisi sagittis nunc. Sed vehicula
                        neque tortor, eget finibus arcu molestie nec. Sed rutrum nisi porta turpis vehicula, facilisis
                        finibus sapien tincidunt. Pellentesque sollicitudin purus quis dolor finibus congue.</p>
                    <p>Sed a velit lectus. In hac habitasse platea dictumst. Pellentesque volutpat enim nec nibh
                        vulputate lacinia. Donec tempor, sem id placerat faucibus, sapien urna convallis leo, nec
                        bibendum sapien diam mattis nulla. Mauris auctor velit id dui lobortis rhoncus. Praesent eget
                        mattis neque. Sed sollicitudin porttitor nisl. Nullam at nunc vulputate, sollicitudin ipsum sit
                        amet, venenatis sapien. Maecenas imperdiet sem ut ante varius, a aliquet mauris tristique. </p>
                    <p>Mauris at elementum elit, eget feugiat elit. Pellentesque vel porta velit, quis tristique justo.
                        In lobortis vehicula odio, non pretium felis. Donec tempus justo rhoncus augue malesuada, et
                        aliquet nisi aliquet. Proin vulputate odio tortor, et pulvinar erat interdum quis. Morbi finibus
                        fringilla quam vel finibus. Fusce vel blandit lectus, et tincidunt sapien. Sed facilisis erat in
                        orci volutpat sodales.</p>
                </div>
                <div
                        class="tab-pane fade"
                        id="return-tab-pane"
                        role="tabpanel"
                        aria-labelledby="return-tab"
                        tabindex="0"
                >
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae tincidunt augue, at porta
                        sapien. Suspendisse ac finibus tellus, non dapibus nibh. Nulla aliquam, odio ultricies aliquet
                        pretium, lectus velit lacinia diam, dignissim egestas tortor nisi sagittis nunc. Sed vehicula
                        neque tortor, eget finibus arcu molestie nec. Sed rutrum nisi porta turpis vehicula, facilisis
                        finibus sapien tincidunt. Pellentesque sollicitudin purus quis dolor finibus congue.</p>
                    <p>Sed a velit lectus. In hac habitasse platea dictumst. Pellentesque volutpat enim nec nibh
                        vulputate lacinia. Donec tempor, sem id placerat faucibus, sapien urna convallis leo, nec
                        bibendum sapien diam mattis nulla. Mauris auctor velit id dui lobortis rhoncus. Praesent eget
                        mattis neque. Sed sollicitudin porttitor nisl. Nullam at nunc vulputate, sollicitudin ipsum sit
                        amet, venenatis sapien. Maecenas imperdiet sem ut ante varius, a aliquet mauris tristique. </p>
                    <p>Mauris at elementum elit, eget feugiat elit. Pellentesque vel porta velit, quis tristique justo.
                        In lobortis vehicula odio, non pretium felis. Donec tempus justo rhoncus augue malesuada, et
                        aliquet nisi aliquet. Proin vulputate odio tortor, et pulvinar erat interdum quis. Morbi finibus
                        fringilla quam vel finibus. Fusce vel blandit lectus, et tincidunt sapien. Sed facilisis erat in
                        orci volutpat sodales.</p>
                </div>
            </div>
        </div>
    </div>
</section>