<app-navbar />

<section class="container-fluid login-content p-3 p-lg-5">
  <app-breadcrumb
    title="{{ 'login.title' | translate }}"
    [bgColor]="headerColor()"
    [breadcrumbColor]="breadcrumbColor()"
  />

  <div class="row py-5">
    <div class="col-12 col-md-6 d-none d-lg-block text-center">
      <img
        src="./images/login-register.png"
        alt="Register Banner"
        class="user-select-none custom-img"
      />
    </div>

    <div class="col-12 col-md-6">
      <div class="subtitle">
        <h4>{{ "login.title" | translate }}</h4>
      </div>

      <form
        class="mt-4 needs-validation"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        [ngClass]="{
          'was-validated':
            submitted() && loginForm.touched && loginForm.invalid,
        }"
        novalidate
      >
        <div class="row">
          <!-- Email -->
          <div class="col-12">
            <div class="form-group mb-4">
              <label class="form-label" for="login-email">
                {{ "login.email" | translate }}
              </label>
              <input
                type="email"
                placeholder=""
                class="form-control main-input"
                id="login-email"
                formControlName="email"
                required
              />
            </div>
          </div>

          <!-- Password -->
          <div class="col-12">
            <div class="form-group mb-4">
              <label class="form-label" for="login-password">
                {{ "login.password" | translate }}
              </label>
              <input
                type="password"
                placeholder=""
                class="form-control main-input"
                id="login-password"
                formControlName="password"
                required
              />
            </div>
          </div>

          <!-- Remember Me -->
          <div class="col-6">
            <div class="form-group mb-4">
              <div class="remember">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="rememberMeCheckbox"
                    formControlName="remember"
                  />
                  <label class="form-check-label" for="rememberMeCheckbox">
                    {{ "login.remember_me" | translate }}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <!-- Forgot Password -->
          <div class="col-6 text-end">
            <div class="forgot-password">
              <a routerLink="/forgot-password">Forgot password?</a>
            </div>
          </div>

          <!-- Login Button -->
          <div class="col-lg-12">
            <div class="form-group">
              <button
                type="submit"
                class="btn main-btn rounded-pill w-100"
                [disabled]="isLoading()"
              >
                {{ "login.title" | translate }}
              </button>
            </div>

            <div class="bottom-bar">
              <p>
                {{ "login.not_registered" | translate }}
                <a routerLink="/register">
                  {{ "login.create_account" | translate }}</a
                >
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
