<section class="benefits-section pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="benefits-card">
                    <img class="mb-3 user-select-none" src="./images/b1.png" alt="" />
                    <p>Soft fabrics, long-lasting prints, and <br> scannable codes that never fade.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="benefits-card">
                    <img class="mb-3 user-select-none" src="./images/b2.png" alt="" />
                    <p> We deliver worldwide — quickly,<br> reliably, and with love.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="benefits-card">
                    <img class="mb-3 user-select-none" src="./images/b3.png" alt="" />
                    <p>Your data and transactions are<br> always safe with us.</p>
                </div>
            </div>
        </div>
    </div>
</section>