<app-navbar/>

<section class="container-fluid forgot-password-content p-3 p-lg-5">
    <app-breadcrumb
            title="{{ 'forgot_password.title' | translate }}"
            [bgColor]="headerColor()"
    />

    <div class="row py-5">
        <div class="col-12 col-md-6 d-none d-lg-block text-center">
            <img
                    src="./images/login-register.png"
                    alt="Register Banner"
                    class="user-select-none custom-img"
            />
        </div>

        <div class="col-12 col-md-6">
            <div class="subtitle">
                <h4>{{ 'forgot_password.title' | translate }}</h4>
            </div>

            <div class="pt-2">
                <p>{{ 'forgot_password.description' | translate }}</p>
            </div>

            <form
                    class="mt-4 needs-validation"
                    [formGroup]="forgotPasswordForm"
                    (ngSubmit)="onSubmit()"
                    [ngClass]="{'was-validated': submitted() && forgotPasswordForm.touched && forgotPasswordForm.invalid}"
                    novalidate
            >
                <div class="row">
                    <!-- Email -->
                    <div class="col-12">
                        <div class="form-group mb-4">
                            <label class="form-label" for="forgot-password-email">
                                {{ 'forgot_password.email' | translate }}
                            </label>
                            <input
                                    type="email"
                                    placeholder=""
                                    class="form-control main-input"
                                    id="forgot-password-email"
                                    formControlName="email"
                                    required
                            >
                        </div>
                    </div>

                    <!-- Send Button -->
                    <div class="col-lg-12">
                        <div class="form-group">
                            <button
                                    type="submit"
                                    class="btn main-btn rounded-pill w-100"
                                    [disabled]="isLoading()"
                            >
                                {{ 'forgot_password.send_reset' | translate }}
                            </button>
                        </div>

                        <div class="bottom-bar">
                            <p>
                                {{ 'forgot_password.go_back_login' | translate }} <a
                                    routerLink="/login"> {{ 'login.title' | translate }}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>