.breadcrumb-content {
  align-items: center;
  background-image: url('../../../../../public/images/dot-round.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  padding: 40px;
  position: relative;
}

.breadcrumb-content h1 {
  color: #ffffff;
  font-size: 42px;
  font-weight: bold;
  line-height: 54px;
  margin-bottom: 10px;
}

nav {
  width: fit-content;
}
.breadcrumb {
  position: relative;
  padding: 10px 25px;
  border-radius: 40px;
}
.breadcrumb a {
  color: #000000;
}
.breadcrumb-item.active {
  color: #000000;
  font-weight: bold;
}
.breadcrumb-item + .breadcrumb-item::before,
.breadcrumb a {
  color: #000000;
}

/* Less than 576px */
@media (max-width: 576px) {
  .breadcrumb-content {
    height: 220px;
  }

  .breadcrumb-content h1 {
    font-size: 24px;
  }
}
