<section class="status-content pb-4 pt-2 pb-lg-5 pt-lg-5">
    <div class="container-fluid px-lg-5">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <div class="status-card">
                    <h4>90%</h4>
                    <p>Customers love how easy it is to connect and share with Share a Scan merch.</p>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <div class="status-card">
                    <h4>740M+</h4>
                    <p>QR scans and growing across our products worldwide.</p>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <div class="status-card">
                    <h4>21000+</h4>
                    <p>Custom QR designs printed and shipped globally.</p>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="status-card">
                    <h4>26M+</h4>
                    <p>Unique scannable stories shared through our merchandise.</p>
                </div>
            </div>
        </div>
    </div>
</section>