.loader {
    width: 50px;
    height: 50px;
    margin: 30px auto;
    border: 4px solid #e4e6ff; /* light background stroke */
    border-top-color: #6970ff; /* primary progress stroke */
    border-radius: 50%;
    animation: process 0.9s linear infinite;
}

@keyframes process {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
